.feedback {
  padding-top: 31px;
  padding-bottom: 39px;
}

.feedback__button-write {
  margin: 0 auto;
  padding-top: 13px;

  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    padding: 45px 269px;
    padding-top: 44px;
    padding-bottom: 59px;
  }

  .feedback__button-write {
    width: 230px;

    font-size: 17px;
    line-height: 17px;

    padding-bottom: 16px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 1150px;
    height: 100px;
    position: relative;

    margin: 0 auto;
    padding: 0;
  }

  .feedback__button-write {
    position: absolute;
    top: -55px;
    left: 225px;
  }
}
