.catalog-list {
  list-style: none;

  margin: 0;
  padding: 30px;

  border: 1px solid red;
}

.catalog-list__header {
  margin: 0;
  padding: 0;
}

.catalog-list__header a {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}

.catalog-list__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.catalog-list__price {
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .catalog-list__item {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    display: flex;
    justify-content: space-between;
  }

  .catalog-list__item {
    flex-direction: column;
  }
}
