.comments {
  padding-top: 27px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;

  border: 1px solid red;
}

.comments__header {
  .heading();

  margin: 0;
}

.comments__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @grey-color;
}

.comments__button-write {
  text-decoration: none;
}
