.feedback {
  padding: 39px 30px;
}

.feedback__button-write {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    padding: 56px 269px;
  }

  .feedback__button-write {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 100%;
    height: 105px;
    position: relative;

    padding: 0;
  }

  .feedback__button-write {
    position: absolute;
    top: -52px;
    left: 225px;
  }
}
