.page-header {
  border: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin: 0;
  }
}
