.page-footer {
  background-color: @cream-color;
  border: 1px solid red;
}

.page-footer__producer {
  font-size: 19px;
  line-height: 19px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
  }
}

@media (max-width: @tablet-width) {
  .page-footer__logo {
    display: none;
  }
}
