.production {
  padding: 30px;
  padding-top: 0;
  padding-bottom: 58px;
}

.production__wrapper {
  border: 1px solid #ececec;

  padding-bottom: 33px;
}

.production__header {
  position: relative;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  margin: 0;
  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 91px;

  &::after {
    width: 32px;
    height: 32px;
    content: "";
    position: absolute;
    left: 34px;
    top: 30px;

    background-image: url("../img/icon-video.svg");
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: @grey-color;

  margin: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 41px;
}

.production__button {
  width: 192px;

  font-size: 17px;
  line-height: 17px;

  margin-left: 34px;

  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production img {
    width: 608px;
    height: 455px;
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .production {
    display: flex;
    position: relative;
    min-height: 400px;
  }

  .production__wrapper {
    width: 367px;

    margin-left: auto;
  }

  .production img {
    width: 600px;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
