@grey-color: #444444;
@green-color: #63d1bb;
@cream-color: #f1f1f1;

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading() {
  font-size: 25px;
  line-height: 30px;
}
